
.App-header {
  background-color: #282c34;
  
  
  
  
}

.App{
  background-color: #282c34;
  min-height: 100vh;

}

.page{
 margin-left: 47%;
}


.delete{
  margin-left: 40px;
  width: 70px;
  height: 30px;
  font-size: 13px;
  color: black;
  background-color: red;
}

.lists{
  margin-top: 50px;
} 



li{
  width: 300px;
  height: 100px;
}

.for_products{
  width: 30%;
  margin: 0 auto;
}